

<div class="row d-flex justify-content-center">
    <div class="col-md-11">
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar>
                    <mat-icon>edit</mat-icon>
                </div>
                <mat-card-title>Editar Empresa</mat-card-title>
                <mat-card-subtitle>En esta sección podrá editar la empresa seleccionada.</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>
</div>


<div class="row d-flex justify-content-center my-2">
    <div class="col-md-11">
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar>
                    <mat-icon>update</mat-icon>
                </div>
                <mat-card-title>
                    Actualizar datos
                </mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <div class="row">
                    <div class="col-md-6">
                      <mat-form-field appearance="standard" style="width: 100%;">
                        <mat-label>Nombre</mat-label>
                        <input matInput [(ngModel)]="company.com_name">
                        <mat-icon matSuffix>business</mat-icon>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field appearance="standard" style="width: 100%;">
                        <mat-label>Dirección</mat-label>
                        <input matInput [(ngModel)]="company.com_address">
                        <mat-icon matSuffix>location_on</mat-icon>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field appearance="standard" style="width: 100%;">
                        <mat-label>Provincia</mat-label>
                        <input matInput [(ngModel)]="company.com_province">
                        <mat-icon matSuffix>terrain</mat-icon>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field appearance="standard" style="width: 100%;">
                        <mat-label>Categoría</mat-label>
                        <input matInput [(ngModel)]="company.com_category">
                        <mat-icon matSuffix>category</mat-icon>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field appearance="standard" style="width: 100%;">
                        <mat-label>Teléfono</mat-label>
                        <input matInput [(ngModel)]="company.com_phone">
                        <mat-icon matSuffix>phone</mat-icon>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6" style="display: flex;
                        justify-content: center;
                        align-items: center;">
                            <button style="width: 50%;" (click)="updateCompany()" mat-button mat-raised-button color="primary">Guardar <mat-icon>save</mat-icon></button>
                    </div>
                  </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

