<div class="row bg-primary p-4">
    <h3 style="color: white !important"><i class="fas fa-plus-circle"></i> Editar Empresa</h3>
</div>


<div class="row align-items-center">
    <div class="col-md-12 p-4">
        <div class="card">
            
            <div class="card-body">
                <h4 class="card-title">Actualizar datos</h4>
                <hr>
                <form>
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="com_name">Nombre</label>
                                <input id="com_name" class="form-control" [(ngModel)]="company.com_name" type="text" name="com_name">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="com_address">Dirección</label>
                                <input id="com_address" class="form-control" [(ngModel)]="company.com_address" type="text" name="com_address">
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="com_province">Provincia</label>
                                <input id="com_province" class="form-control" [(ngModel)]="company.com_province" type="text" name="com_province">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="com_category">Categoria</label>
                                <input id="com_category" class="form-control" [(ngModel)]="company.com_category" type="text" name="com_category">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="com_phone">Teléfono</label>
                                <input id="com_phone" class="form-control" [(ngModel)]="company.com_phone" type="text" name="com_phone">
                            </div>
                        </div>
                    </div>
                    
                    
                    
                    <button class="btn btn-success btn-block" (click)="updateCompany()">Actualizar</button>
                </form>
            </div>
        </div>
    </div>
</div>