
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1 [routerLink]="[ '/empresas' ]" routerLinkActive="active">Proyecto ISO </h1>
    <span class="menu-spacer"></span>
  </mat-toolbar-row>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened class="mat-elevation-z4">
    <mat-nav-list>

      <mat-accordion>
        <mat-expansion-panel class="mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>business</mat-icon>
            </mat-panel-title>
            <mat-panel-description>
              Empresas
            </mat-panel-description>
          </mat-expansion-panel-header>

          <button style="width: 100%;" mat-flat-button [routerLink]="[ '/empresas' ]" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}">
            <mat-icon>search</mat-icon> Buscar
          </button>

          <button style="width: 100%;" mat-flat-button [routerLink]="[ '/empresas/agregar' ]" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}">
            <mat-icon>add</mat-icon> Agregar
          </button>

        </mat-expansion-panel>

        <mat-expansion-panel class="mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>done_all</mat-icon>
            </mat-panel-title>
            <mat-panel-description>
              Certificaciones
            </mat-panel-description>
          </mat-expansion-panel-header>

          <button style="width: 100%;" mat-flat-button>
            <mat-icon>search</mat-icon> Buscar
          </button>


          <button style="width: 100%;" mat-flat-button>
            <mat-icon>add</mat-icon> Agregar
          </button>

        </mat-expansion-panel>
      </mat-accordion>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container-fluid" style="height: 88vh;">
      <div class="row mt-4">
        <div class="col-md-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>