<!-- 
<div class="wrapper">

  <nav id="sidebar" class="bg-primary text-white">
    <div class="sidebar-header">
      <h3 id="sidebar-title">Proyecto ISO</h3>
    </div>

    <ul class="list-unstyled components">
      <p><i class="fas fa-chevron-right"></i><i class="fas fa-chevron-right"></i> Acciones</p>
      <li>

        <a href="#businessSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-city"></i> Empresas</a>

        <ul class="collapse list-unstyled" id="businessSubmenu">
          <li> <a class="dropdown-item" [routerLink]="[ '/empresas' ]" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" ><i class="fas fa-search"></i> Buscar</a></li>
          <li><a class="dropdown-item" [routerLink]="[ '/empresas/agregar' ]" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><i class="fas fa-plus-circle"></i> Agregar</a></li>
        </ul>
      </li>
      <li>
        <a href="#certificationSubmenu" data-toggle="collapse" aria-expanded="false"
          class="dropdown-toggle"><i class="fas fa-award"></i> Certificaciones</a>

        <ul class="collapse list-unstyled" id="certificationSubmenu">
          <li><a href="#"><i class="fas fa-search"></i> Buscar</a></li>
          <li><a href="#"><i class="fas fa-plus-circle"></i> Agregar</a></li>
        </ul>

      </li>
    </ul>

  </nav> -->


   
    <!-- <div id="content">
      <header>
        <app-navigation></app-navigation>
      </header>
      <main>
        <div class="container">
          <router-outlet></router-outlet>
        </div>
      </main>
    </div>
   -->
<!-- 
  </div> -->

  <app-navigation></app-navigation>