
<div class="row d-flex justify-content-center">
  <div class="col-md-11">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar> <mat-icon>work</mat-icon> </div>
        <mat-card-title>Listar Empresas</mat-card-title>
        <mat-card-subtitle>En esta sección podrá ver las empresas registradas en el sistema.</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
</div>

<div class="row d-flex justify-content-center my-2">
  <div class="col-md-11">
    <mat-card>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="standard" style="width: 100%;">
            <mat-label>Nombre</mat-label>
            <input [(ngModel)]="inputName.value" (keyup)="aplicarFiltro($event)" matInput>
            <mat-icon matSuffix>business</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="standard" style="width: 100%;">
            <mat-label>Dirección</mat-label>
            <input  [(ngModel)]="inputAddress.value" (keyup)="aplicarFiltro($event)" matInput>
            <mat-icon matSuffix>location_on</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-md-4">
          <mat-form-field appearance="standard" style="width: 100%;">
            <mat-label>Provincia</mat-label>
            <mat-select [(ngModel)]="inputProvince.value" (selectionChange)="aplicarFiltro($event)">
              <mat-option [value]="''"></mat-option>
              <mat-option *ngFor="let province of provinces.message" [value]="province.com_province">
                {{province.com_province}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="standard" style="width: 100%;">
            <mat-label>Teléfono</mat-label>
            <input [(ngModel)]="inputPhone.value" (keyup)="aplicarFiltro($event)" matInput>
            <mat-icon matSuffix>local_phone</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="standard" style="width: 100%;">
            <mat-label>Categoria</mat-label>
            <mat-select [(ngModel)]="inputCategory.value" (selectionChange)="aplicarFiltro($event)">
              <mat-option [value]="''"></mat-option>
              <mat-option *ngFor="let category of categories.message" [value]="category.com_category">
                {{category.com_category}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-md-12" style="display: flex;
        justify-content: flex-end;
        align-items: center;">
          <button style="width: 25%;" (click)="generatePdf()" mat-button mat-raised-button color="primary">Imprimir <mat-icon>print</mat-icon></button>
        </div>
      </div>
      <mat-divider></mat-divider>

     <div class="row" style="text-align: center;" class="mat-elevation-z8 mt-4">
      <table mat-table [dataSource]="dataSource" style="width: 100%;">
        <ng-container matColumnDef="nombre">
          <th style="text-align: center; font-size: 15px; font-weight: bolder;" mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let element">{{element.com_name}}</td>
        </ng-container>
        <ng-container matColumnDef="direccion">
          <th style="text-align: center; font-size: 15px; font-weight: bolder;" mat-header-cell *matHeaderCellDef>Dirección</th>
          <td mat-cell *matCellDef="let element">{{element.com_address}}</td>
        </ng-container>
        <ng-container matColumnDef="provincia">
          <th style="text-align: center; font-size: 15px; font-weight: bolder;" mat-header-cell *matHeaderCellDef>Provincia</th>
          <td mat-cell *matCellDef="let element">{{element.com_province}}</td>
        </ng-container>
        <ng-container matColumnDef="telefono">
          <th style="text-align: center; font-size: 15px; font-weight: bolder;" mat-header-cell *matHeaderCellDef>Teléfono</th>
          <td mat-cell *matCellDef="let element">{{element.com_phone}}</td>
        </ng-container>
        <ng-container matColumnDef="categoria">
          <th style="text-align: center; font-size: 15px; font-weight: bolder;" mat-header-cell *matHeaderCellDef>Categoria</th>
          <td mat-cell *matCellDef="let element">{{element.com_category}}</td>
        </ng-container>
        <ng-container matColumnDef="editar">
          <th style="text-align: center; font-size: 15px; font-weight: bolder;" mat-header-cell *matHeaderCellDef>Editar</th>
          <td mat-cell *matCellDef="let element"><a  [routerLink]="[ '/empresas/editar', element.com_id]" type="button" class="edit-btn"><mat-icon>edit</mat-icon></a> </td>
        </ng-container>
        <ng-container matColumnDef="eliminar">
          <th style="text-align: center; font-size: 15px; font-weight: bolder;" mat-header-cell *matHeaderCellDef>Eliminar</th>
          <td mat-cell *matCellDef="let element"><a  (click)="deleteCompany(element.com_id)" type="button" class="delete-btn"><mat-icon>delete</mat-icon></a></td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
       <div>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
       </div>
     </div>
    </mat-card>
  </div>
</div>

