<!-- <div class="row bg-primary p-4">
    <h3 style="color: white !important"><i class="fas fa-plus-circle"></i> Agregar Empresa</h3>
</div>


<div class="row align-items-center">
    <div class="col-md-12 p-4">
        <div class="card">
            
            <div class="card-body">
                <h4 class="card-title">Ingresar datos</h4>
                <hr>
                <form>
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="com_name">Nombre</label>
                                <input id="com_name" class="form-control" [(ngModel)]="company.com_name" type="text" name="com_name">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="com_address">Dirección</label>
                                <input id="com_address" class="form-control" [(ngModel)]="company.com_address" type="text" name="com_address">
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="com_province">Provincia</label>
                                <input id="com_province" class="form-control" [(ngModel)]="company.com_province" type="text" name="com_province">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="com_category">Categoria</label>
                                <input id="com_category" class="form-control" [(ngModel)]="company.com_category" type="text" name="com_category">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="com_phone">Teléfono</label>
                                <input id="com_phone" class="form-control" [(ngModel)]="company.com_phone" type="text" name="com_phone">
                            </div>
                        </div>
                    </div>
                    
                    
                    
                    <button class="btn btn-success btn-block" (click)="saveNewCompany()">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div> -->



<div class="row d-flex justify-content-center">
    <div class="col-md-11">
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar>
                    <mat-icon>add_circle</mat-icon>
                </div>
                <mat-card-title>Agregar Empresa</mat-card-title>
                <mat-card-subtitle>En esta sección podrá agregar nuevas empresas.</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>
</div>


<div class="row d-flex justify-content-center my-2">
    <div class="col-md-11">
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar>
                    <mat-icon>post_add</mat-icon>
                </div>
                <mat-card-title>
                    Ingresar datos
                </mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <div class="row">
                    <div class="col-md-6">
                      <mat-form-field appearance="standard" style="width: 100%;">
                        <mat-label>Nombre</mat-label>
                        <input matInput [(ngModel)]="company.com_name">
                        <mat-icon matSuffix>business</mat-icon>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field appearance="standard" style="width: 100%;">
                        <mat-label>Dirección</mat-label>
                        <input matInput [(ngModel)]="company.com_address">
                        <mat-icon matSuffix>location_on</mat-icon>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field appearance="standard" style="width: 100%;">
                        <mat-label>Provincia</mat-label>
                        <input matInput [(ngModel)]="company.com_province">
                        <mat-icon matSuffix>terrain</mat-icon>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field appearance="standard" style="width: 100%;">
                        <mat-label>Categoría</mat-label>
                        <input matInput [(ngModel)]="company.com_category">
                        <mat-icon matSuffix>category</mat-icon>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field appearance="standard" style="width: 100%;">
                        <mat-label>Teléfono</mat-label>
                        <input matInput [(ngModel)]="company.com_phone">
                        <mat-icon matSuffix>phone</mat-icon>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6" style="display: flex;
                        justify-content: center;
                        align-items: center;">
                            <button style="width: 50%;" (click)="saveNewCompany()" mat-button mat-raised-button color="primary">Guardar <mat-icon>save</mat-icon></button>
                    </div>
                  </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

